body{
    font-family: Arial, sans-serif;
    background-color: #f4f4dc;
    margin: 0;
}

.campo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    height: 100vh;
}

.player__area{
    display: flex;
    border: 2px dashed #999;
}

.player{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #fffaf0;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
  }

  .player__info{
    margin-bottom: 10px;
  }


  .campo__jogo{
    display: flex;
    flex-direction: column;
    background-color: #fffaf0;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    padding: 10px;
  }

  .campo__jogo__jogador{
    display: flex;
    height: 30%;
    gap: 20px;
    padding: 10px;
  }

  .campo__jogo__tabuleiro{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .campo__jogo__jogador__carta{
    display: flex;
    flex-direction: row;
    border: black 5px solid;
    border-radius: 10px;
    width: 40%;
    transition: transform 0.3s ease;
  }

  .campo__jogo__jogador__carta.selecionaveis:hover{
    border: green 5px solid;
    cursor: pointer;
    transform: scale(1.1);
  }

  .campo__jogo__jogador__carta.tabuleiro{
    width: 40%;
  }

  .carta{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .carta img{
    width: 100%;
    height: auto;
  }


  .desabilitada{
    pointer-events: none;
    opacity: 0.5;
  }

